# Dataproject - Fertility and Unemployment rate

#### In this data project we are examining whether there are any correlation between unemployment rates and fertility rates on a municipality level in Denmark in the years from 2007 until 2017. First we download the tables of interest from Denmark Statistics (DST) and then merge them into a combined dataset. One this combined dataset we do some graphical explorations of the evolution of the unemployment rate and the fertility rate and the correlation between the two.

In [1]:
# Importing crucial packages

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

## 1 Downloading data from DST
We examine what datasets are available from DST

In [2]:
dst.get_subjects()

    active                                       desc  hasSubjects  id
0     True                   Population and elections         True  02
1     True                          Living conditions         True  05
2     True                    Education and knowledge         True  03
3     True                Culture and National Church         True  18
4     True                  Labour, income and wealth         True  04
5     True                     Prices and consumption         True  06
6     True  National accounts and government finances         True  14
7     True                    Money and credit market         True  16
8     True                           External economy         True  13
9     True                 Business sector in general         True  07
10    True                           Business sectors         True  11
11    True          Geography, environment and energy         True  01
12    True                                      Other         True  19

We would like to look at "population and elections" because this is where we can find unformation about fertility rates

In [3]:
dst.get_tables(subjects=['02'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2019,Population 1. January,number,2019-04-01 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
2001,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
2002,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
2003,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
2004,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
2005,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
2006,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
2007,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
2008,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
2009,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
2010,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
2011,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
2012,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2013,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
2014,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2015,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
2016,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
2017,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
2018,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
2019,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
2020,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2021,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2022,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2023,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2024,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2025,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2026,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2027,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2028,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2029,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2030,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

We use the table with id 'FOD407', that containts information about fertility rates in each municipality in specific years.

In [64]:
FOD407_vars = dst.get_variables(table_id='FOD407')
FOD407_vars['values'][1][:] ## age= TOT1 to include all ages

[{'id': 'TOT1', 'text': 'Total fertility rate'},
 {'id': '15-19', 'text': '15-19 years'},
 {'id': '20-24', 'text': '20-24 years'},
 {'id': '25-29', 'text': '25-29 years'},
 {'id': '30-34', 'text': '30-34 years'},
 {'id': '35-39', 'text': '35-39 years'},
 {'id': '40-44', 'text': '40-44 years'},
 {'id': '45-49', 'text': '45-49 years'}]

In [65]:
#We are only interested in the total fertility rate, hence we write 'ALDER:[TOT1]'

FOD407 = dst.get_data(table_id = 'FOD407', variables={'OMRÅDE':['*'], 'TID':['*'], 'ALDER':['TOT1'] })
FOD407.sort_values(by=['OMRÅDE', 'TID'], ascending=False)
FOD407.head()

               OMRÅDE   TID                 ALDER INDHOLD
0         All Denmark  2006  Total fertility rate  1847.6
1  Region Hovedstaden  2006  Total fertility rate  1706.2
2     Region Sjælland  2006  Total fertility rate  2061.2
3   Region Syddanmark  2006  Total fertility rate  1928.0
4  Region Midtjylland  2006  Total fertility rate  1919.1

We rename each variable

In [71]:
FOD407_en=FOD407.rename(columns={"OMRÅDE": "AREA", "TID": "YEAR", "INDHOLD": "BIRTH RATE", "ALDER": "AGE"})
FOD407_en.head(10)

                        AREA  YEAR                   AGE BIRTH RATE
0                All Denmark  2006  Total fertility rate     1847.6
1         Region Hovedstaden  2006  Total fertility rate     1706.2
2            Region Sjælland  2006  Total fertility rate     2061.2
3          Region Syddanmark  2006  Total fertility rate     1928.0
4         Region Midtjylland  2006  Total fertility rate     1919.1
5         Region Nordjylland  2006  Total fertility rate     1902.8
6    Province Byen København  2006  Total fertility rate     1555.0
7  Province Københavns omegn  2006  Total fertility rate     1924.9
8      Province Nordsjælland  2006  Total fertility rate     2143.5
9          Province Bornholm  2006  Total fertility rate     1998.8

In [72]:
FOD407_en_group = FOD407_en.groupby(['AREA','YEAR'])['BIRTH RATE'].sum().reset_index()
FOD407_en_group.head()

       AREA  YEAR BIRTH RATE
0  Aabenraa  2006     2146.1
1  Aabenraa  2007     2021.9
2  Aabenraa  2008     2075.0
3  Aabenraa  2009     2177.6
4  Aabenraa  2010     2037.3

We now look at the category "Labour, income and wealth" at Denmark Statistics

In [16]:
dst.get_tables(subjects=['04'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2019,Population 1. January,number,2019-04-01 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
2001,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
2002,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
2003,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
2004,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
2005,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
2006,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
2007,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
2008,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
2009,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
2010,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
2011,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
2012,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2013,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
2014,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2015,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
2016,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
2017,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
2018,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
2019,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
2020,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2021,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2022,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2023,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2024,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2025,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2026,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2027,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2028,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2029,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2030,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

In [17]:
AULP01_vars = dst.get_variables(table_id='AULP01')
AULP01_vars

,elimination,id,map,text,time,values
0,True,OMRÅDE,denmark_municipality_07,region,False,"[{'id': '000', 'text': 'All Denmark'}, {'id': ..."
1,True,ALDER,NaN,age,False,"[{'id': 'TOT', 'text': 'Age, total'}, {'id': '..."
2,True,KØN,NaN,sex,False,"[{'id': 'TOT', 'text': 'Total'}, {'id': 'M', '..."
3,False,Tid,NaN,time,True,"[{'id': '2007', 'text': '2007'}, {'id': '2008'..."

In [39]:
AULP01 = dst.get_data(table_id = 'AULP01', variables={'OMRÅDE':['*'], 'ALDER':['TOT'], 'KØN':['TOT'], 'TID':['*'] })
AULP01.head()

      OMRÅDE       ALDER    KØN   TID  INDHOLD
0  Svendborg  Age, total  Total  2011      6.8
1   Nordfyns  Age, total  Total  2011      7.4
2  Langeland  Age, total  Total  2011      7.9
3        Ærø  Age, total  Total  2011      4.5
4  Haderslev  Age, total  Total  2011      6.0

In [41]:
AULP01_en = AULP01.rename(columns={"OMRÅDE": "AREA", "ALDER": "AGE", "KØN": "GENDER",\
                                   "TID": "YEAR", "INDHOLD": "UNEMPLOYMENT RATE"})
AULP01_en.head(6)

        AREA         AGE GENDER  YEAR  UNEMPLOYMENT RATE
0  Svendborg  Age, total  Total  2011                6.8
1   Nordfyns  Age, total  Total  2011                7.4
2  Langeland  Age, total  Total  2011                7.9
3        Ærø  Age, total  Total  2011                4.5
4  Haderslev  Age, total  Total  2011                6.0
5    Billund  Age, total  Total  2011                3.7

In [46]:
AULP01_en_group = AULP01_en.groupby(['AREA','YEAR'])['UNEMPLOYMENT RATE'].sum().reset_index()
AULP01_en_group.head()

       AREA  YEAR  UNEMPLOYMENT RATE
0  Aabenraa  2007                3.8
1  Aabenraa  2008                2.8
2  Aabenraa  2009                5.2
3  Aabenraa  2010                6.8
4  Aabenraa  2011                6.4

We now merge the two different datasets.

In [49]:
merged_data = pd.merge(FOD407_en_group, AULP01_en_group, on=['YEAR', 'AREA'], how='left')
merged_data.head(100)

        AREA  YEAR BIRTH RATE  UNEMPLOYMENT RATE
0   Aabenraa  2006     2146.1                NaN
1   Aabenraa  2007     2021.9                3.8
2   Aabenraa  2008     2075.0                2.8
3   Aabenraa  2009     2177.6                5.2
4   Aabenraa  2010     2037.3                6.8
5   Aabenraa  2011     1962.2                6.4
6   Aabenraa  2012     2003.8                6.9
7   Aabenraa  2013     1884.5                6.4
8   Aabenraa  2014     1868.2                5.2
9   Aabenraa  2015     1757.9                4.7
10  Aabenraa  2016     2018.9                4.0
11  Aabenraa  2017     2061.8                4.0
12  Aabenraa  2018     1961.0                NaN
13   Aalborg  2006     1681.4                NaN
14   Aalborg  2007     1686.6                5.1
15   Aalborg  2008     1765.2                3.6
16   Aalborg  2009     1724.8                5.6
17   Aalborg  2010     1743.1                6.4
18   Aalborg  2011     1610.9                6.4
19   Aalborg  2012     1624.0                6.3
20   Aalborg  2013     1546.2                6.0
21   Aalborg  2014     1542.4                6.0
22   Aalborg  2015     1639.5                5.9
23   Aalborg  2016     1727.2                5.3
24   Aalborg  2017     1627.8                5.5
25   Aalborg  2018     1574.1                NaN
26    Aarhus  2006     1648.9                NaN
27    Aarhus  2007     1671.3                3.9
28    Aarhus  2008     1667.0                2.6
29    Aarhus  2009     1668.2                4.4
..       ...   ...        ...                ...
70   Allerød  2011     2114.3                3.0
71   Allerød  2012     1933.3                2.9
72   Allerød  2013     1760.1                2.6
73   Allerød  2014     2276.7                2.4
74   Allerød  2015     2083.6                2.1
75   Allerød  2016     2273.9                2.0
76   Allerød  2017     2325.2                2.6
77   Allerød  2018     2180.4                NaN
78    Assens  2006     2254.6                NaN
79    Assens  2007     2129.3                3.7
80    Assens  2008     2221.2                2.8
81    Assens  2009     2228.6                6.0
82    Assens  2010     2008.8                7.6
83    Assens  2011     2200.1                7.1
84    Assens  2012     2127.1                7.2
85    Assens  2013     1939.4                6.5
86    Assens  2014     1792.8                5.3
87    Assens  2015     2124.8                5.0
88    Assens  2016     1994.9                5.0
89    Assens  2017     1890.9                4.3
90    Assens  2018     2124.7                NaN
91  Ballerup  2006     1917.9                NaN
92  Ballerup  2007     1847.4                2.5
93  Ballerup  2008     2213.1                1.9
94  Ballerup  2009     1961.9                3.6
95  Ballerup  2010     1905.3                4.7
96  Ballerup  2011     1866.3                5.1
97  Ballerup  2012     1942.2                5.6
98  Ballerup  2013     1863.0                6.0
99  Ballerup  2014     1742.2                5.2

[100 rows x 4 columns]

We now drop the year 2006 and 2018 since, we don't have any information about the unemployment rate in these years. Also the fertility rates for the municipalities Læse, Samsø, Ærø, Fanø and Christiansø are not given because of to few observations, so these are dropped from the data set as well.

In [60]:
merged_data = merged_data.dropna()
merged_data.head(11)

        AREA  YEAR BIRTH RATE  UNEMPLOYMENT RATE
1   Aabenraa  2007     2021.9                3.8
2   Aabenraa  2008     2075.0                2.8
3   Aabenraa  2009     2177.6                5.2
4   Aabenraa  2010     2037.3                6.8
5   Aabenraa  2011     1962.2                6.4
6   Aabenraa  2012     2003.8                6.9
7   Aabenraa  2013     1884.5                6.4
8   Aabenraa  2014     1868.2                5.2
9   Aabenraa  2015     1757.9                4.7
10  Aabenraa  2016     2018.9                4.0
11  Aabenraa  2017     2061.8                4.0