# Dataproject - Fertility and Unemployment rate

#### In this data project we are examining whether there are any correlation between unemployment rates and fertility rates on a municipality level in Denmark in the years from 2007 until 2017. First we download the tables of interest from Denmark Statistics (DST) and then merge them into a combined dataset. One this combined dataset we do some graphical explorations of the evolution of the unemployment rate and the fertility rate and the correlation between the two.

In [1]:
# Importing crucial packages

import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import widgets
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

## 1 Downloading data from DST
We examine what datasets are available from DST

In [2]:
dst.get_subjects()

    active                                       desc  hasSubjects  id
0     True                   Population and elections         True  02
1     True                          Living conditions         True  05
2     True                    Education and knowledge         True  03
3     True                Culture and National Church         True  18
4     True                  Labour, income and wealth         True  04
5     True                     Prices and consumption         True  06
6     True  National accounts and government finances         True  14
7     True                    Money and credit market         True  16
8     True                           External economy         True  13
9     True                 Business sector in general         True  07
10    True                           Business sectors         True  11
11    True          Geography, environment and energy         True  01
12    True                                      Other         True  19

We would like to look at "population and elections" because this is where we can find unformation about fertility rates

In [3]:
dst.get_tables(subjects=['02'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2019,Population 1. January,number,2019-04-01 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
2004,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
2005,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
2006,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
2007,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
2008,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
2009,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
2010,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
2011,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
2012,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
2013,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
2014,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
2015,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2016,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
2017,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2018,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
2019,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
2020,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
2021,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
2022,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
2023,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2024,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2025,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2026,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2027,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2028,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2029,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2030,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2031,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2032,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2033,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

We use the table with id 'FOD407', that containts information about fertility rates in each municipality in specific years.

In [4]:
FOD407_vars = dst.get_variables(table_id='FOD407')
FOD407_vars['values'][1][:] ## age= TOT1 to include all ages

[{'id': 'TOT1', 'text': 'Total fertility rate'},
 {'id': '15-19', 'text': '15-19 years'},
 {'id': '20-24', 'text': '20-24 years'},
 {'id': '25-29', 'text': '25-29 years'},
 {'id': '30-34', 'text': '30-34 years'},
 {'id': '35-39', 'text': '35-39 years'},
 {'id': '40-44', 'text': '40-44 years'},
 {'id': '45-49', 'text': '45-49 years'}]

In [5]:
#We are only interested in the total fertility rate, hence we write 'ALDER:[TOT1]'

FOD407 = dst.get_data(table_id = 'FOD407', variables={'OMRÅDE':['*'], 'TID':['*'], 'ALDER':['TOT1'] })
FOD407.sort_values(by=['OMRÅDE', 'TID'], ascending=False)
FOD407.head()

               OMRÅDE   TID                 ALDER INDHOLD
0         All Denmark  2006  Total fertility rate  1847.6
1  Region Hovedstaden  2006  Total fertility rate  1706.2
2     Region Sjælland  2006  Total fertility rate  2061.2
3   Region Syddanmark  2006  Total fertility rate  1928.0
4  Region Midtjylland  2006  Total fertility rate  1919.1

We rename each variable

In [6]:
FOD407_en=FOD407.rename(columns={"OMRÅDE": "AREA", "TID": "YEAR", "INDHOLD": "BIRTH_RATE", "ALDER": "AGE"})
FOD407_en.head(10)

                        AREA  YEAR                   AGE BIRTH_RATE
0                All Denmark  2006  Total fertility rate     1847.6
1         Region Hovedstaden  2006  Total fertility rate     1706.2
2            Region Sjælland  2006  Total fertility rate     2061.2
3          Region Syddanmark  2006  Total fertility rate     1928.0
4         Region Midtjylland  2006  Total fertility rate     1919.1
5         Region Nordjylland  2006  Total fertility rate     1902.8
6    Province Byen København  2006  Total fertility rate     1555.0
7  Province Københavns omegn  2006  Total fertility rate     1924.9
8      Province Nordsjælland  2006  Total fertility rate     2143.5
9          Province Bornholm  2006  Total fertility rate     1998.8

In [7]:
#Drops AGE

#FOD407_en.drop(["AGE"], axis=1, inplace=True)
#FOD407_en.head()

We now look at the category "Labour, income and wealth" at Denmark Statistics

In [8]:
dst.get_tables(subjects=['04'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2019,Population 1. January,number,2019-04-01 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
2004,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
2005,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
2006,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
2007,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
2008,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
2009,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
2010,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
2011,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
2012,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
2013,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
2014,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
2015,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2016,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
2017,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
2018,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
2019,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
2020,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
2021,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
2022,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
2023,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2024,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2025,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2026,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2027,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2028,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2029,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2030,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2031,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2032,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2033,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

In [9]:
AULP01_vars = dst.get_variables(table_id='AULP01')
AULP01_vars

,elimination,id,map,text,time,values
0,True,OMRÅDE,denmark_municipality_07,region,False,"[{'id': '000', 'text': 'All Denmark'}, {'id': ..."
1,True,ALDER,NaN,age,False,"[{'id': 'TOT', 'text': 'Age, total'}, {'id': '..."
2,True,KØN,NaN,sex,False,"[{'id': 'TOT', 'text': 'Total'}, {'id': 'M', '..."
3,False,Tid,NaN,time,True,"[{'id': '2007', 'text': '2007'}, {'id': '2008'..."

In [10]:
AULP01 = dst.get_data(table_id = 'AULP01', variables={'OMRÅDE':['*'], 'ALDER':['TOT'], 'KØN':['TOT'], 'TID':['*'] })
AULP01.head()

      OMRÅDE       ALDER    KØN   TID  INDHOLD
0  Svendborg  Age, total  Total  2011      6.8
1   Nordfyns  Age, total  Total  2011      7.4
2  Langeland  Age, total  Total  2011      7.9
3        Ærø  Age, total  Total  2011      4.5
4  Haderslev  Age, total  Total  2011      6.0

In [11]:
AULP01_en = AULP01.rename(columns={"OMRÅDE": "AREA", "ALDER": "AGE", "KØN": "GENDER",\
                                   "TID": "YEAR", "INDHOLD": "UNEMPLOYMENT_RATE"})
AULP01_en.head(6)

        AREA         AGE GENDER  YEAR  UNEMPLOYMENT_RATE
0  Svendborg  Age, total  Total  2011                6.8
1   Nordfyns  Age, total  Total  2011                7.4
2  Langeland  Age, total  Total  2011                7.9
3        Ærø  Age, total  Total  2011                4.5
4  Haderslev  Age, total  Total  2011                6.0
5    Billund  Age, total  Total  2011                3.7

In [12]:
AULP01_en.drop(["AGE", "GENDER"], axis=1, inplace=True)
AULP01_en.head()

        AREA  YEAR  UNEMPLOYMENT_RATE
0  Svendborg  2011                6.8
1   Nordfyns  2011                7.4
2  Langeland  2011                7.9
3        Ærø  2011                4.5
4  Haderslev  2011                6.0

We now merge the two different datasets.

In [13]:
merged_data = pd.merge(FOD407_en, AULP01_en, on=['YEAR', 'AREA'], how='left')
merged_data.head(200)

,AREA,YEAR,AGE,BIRTH_RATE,UNEMPLOYMENT_RATE
0,All Denmark,2006,Total fertility rate,1847.6,NaN
1,Region Hovedstaden,2006,Total fertility rate,1706.2,NaN
2,Region Sjælland,2006,Total fertility rate,2061.2,NaN
3,Region Syddanmark,2006,Total fertility rate,1928.0,NaN
4,Region Midtjylland,2006,Total fertility rate,1919.1,NaN
5,Region Nordjylland,2006,Total fertility rate,1902.8,NaN
6,Province Byen København,2006,Total fertility rate,1555.0,NaN
7,Province Københavns omegn,2006,Total fertility rate,1924.9,NaN
8,Province Nordsjælland,2006,Total fertility rate,2143.5,NaN
9,Province Bornholm,2006,Total fertility rate,1998.8,NaN
10,Province Østsjælland,2006,Total fertility rate,2125.0,NaN
11,Province Vest- og Sydsjælland,2006,Total fertility rate,2023.4,NaN
12,Province Fyn,2006,Total fertility rate,1847.0,NaN
13,Province Sydjylland,2006,Total fertility rate,1990.7,NaN
14,Province Østjylland,2006,Total fertility rate,1835.2,NaN
15,Province Vestjylland,2006,Total fertility rate,2143.5,NaN
16,Province Nordjylland,2006,Total fertility rate,1902.8,NaN
17,Copenhagen,2006,Total fertility rate,1523.9,NaN
18,Frederiksberg,2006,Total fertility rate,1718.9,NaN
19,Dragør,2006,Total fertility rate,1989.7,NaN
20,Tårnby,2006,Total fertility rate,1924.3,NaN
21,Ballerup,2006,Total fertility rate,1917.9,NaN
22,Brøndby,2006,Total fertility rate,1987.7,NaN
23,Gentofte,2006,Total fertility rate,1837.5,NaN
24,Gladsaxe,2006,Total fertility rate,1906.6,NaN
25,Glostrup,2006,Total fertility rate,1733.0,NaN
26,Herlev,2006,Total fertility rate,1946.8,NaN
27,Albertslund,2006,Total fertility rate,1763.3,NaN
28,Hvidovre,2006,Total fertility rate,1892.3,NaN
29,Høje-Taastrup,2006,Total fertility rate,2076.1,NaN
...,...,...,...,...,...
170,Faxe,2007,Total fertility rate,2191.9,3.1
171,Kalundborg,2007,Total fertility rate,2211.3,3.8
172,Ringsted,2007,Total fertility rate,1991.6,3.1
173,Slagelse,2007,Total fertility rate,1718.4,4.6
174,Stevns,2007,Total fertility rate,2286.5,3.3
175,Sorø,2007,Total fertility rate,2249.4,3.0
176,Lolland,2007,Total fertility rate,2052.4,6.2
177,Næstved,2007,Total fertility rate,1913.8,3.5
178,Guldborgsund,2007,Total fertility rate,1930.1,4.1
179,Vordingborg,2007,Total fertility rate,1918.5,4.4
180,Middelfart,2007,Total fertility rate,2386.4,2.9
181,Assens,2007,Total fertility rate,2129.3,3.7
182,Faaborg-Midtfyn,2007,Total fertility rate,2245.2,3.6
183,Kerteminde,2007,Total fertility rate,2078.8,3.6
184,Nyborg,2007,Total fertility rate,2186.3,3.4
185,Odense,2007,Total fertility rate,1755.1,4.9
186,Svendborg,2007,Total fertility rate,2013.3,4.7
187,Nordfyns,2007,Total fertility rate,2217.6,3.8
188,Langeland,2007,Total fertility rate,2107.1,5.3
189,Ærø,2007,Total fertility rate,..,4.1
190,Haderslev,2007,Total fertility rate,2008.0,3.3
191,Billund,2007,Total fertility rate,2082.0,1.9
192,Sønderborg,2007,Total fertility rate,2006.2,2.9
193,Tønder,2007,Total fertility rate,2158.1,3.6
194,Esbjerg,2007,Total fertility rate,1897.3,2.7
195,Fanø,2007,Total fertility rate,..,2.8
196,Varde,2007,Total fertility rate,2313.4,1.9
197,Vejen,2007,Total fertility rate,2271.0,1.9
198,Aabenraa,2007,Total fertility rate,2021.9,3.8
199,Fredericia,2007,Total fertility rate,1960.0,3.4

We now drop the year 2006 and 2018 since, we don't have any information about the unemployment rate in these years. Also the fertility rates for the municipalities Læsø, Samsø, Ærø, Fanø and Christiansø are not given because of to few observations, so these are dropped from the data set as well.

In [115]:
merged_data = merged_data.dropna()
merged_data = merged_data[merged_data['BIRTH_RATE'] != '..']
### HUSK AT DROPPE REGIONER ETC.!

for val in ['Region', 'Province', 'All Denmark']: 
    I = merged_data.AREA.str.contains(val)
    merged_data = merged_data.loc[I == False] # keep everything else

#Checking if they have been dropped
print(merged_data.AREA.unique())
print(merged_data.AREA.nunique())

['Copenhagen' 'Frederiksberg' 'Dragør' 'Tårnby' 'Ballerup' 'Brøndby'
 'Gentofte' 'Gladsaxe' 'Glostrup' 'Herlev' 'Albertslund' 'Hvidovre'
 'Høje-Taastrup' 'Lyngby-Taarbæk' 'Rødovre' 'Ishøj' 'Vallensbæk' 'Furesø'
 'Allerød' 'Fredensborg' 'Helsingør' 'Hillerød' 'Hørsholm' 'Rudersdal'
 'Egedal' 'Frederikssund' 'Halsnæs' 'Gribskov' 'Bornholm' 'Greve' 'Køge'
 'Roskilde' 'Solrød' 'Lejre' 'Odsherred' 'Holbæk' 'Faxe' 'Kalundborg'
 'Ringsted' 'Slagelse' 'Stevns' 'Sorø' 'Lolland' 'Næstved' 'Guldborgsund'
 'Vordingborg' 'Middelfart' 'Assens' 'Faaborg-Midtfyn' 'Kerteminde'
 'Nyborg' 'Odense' 'Svendborg' 'Nordfyns' 'Langeland' 'Haderslev'
 'Billund' 'Sønderborg' 'Tønder' 'Esbjerg' 'Varde' 'Vejen' 'Aabenraa'
 'Fredericia' 'Kolding' 'Vejle' 'Horsens' 'Syddjurs' 'Norddjurs'
 'Favrskov' 'Odder' 'Randers' 'Silkeborg' 'Skanderborg' 'Aarhus'
 'Hedensted' 'Herning' 'Holstebro' 'Lemvig' 'Struer' 'Ikast-Brande'
 'Ringkøbing-Skjern' 'Skive' 'Viborg' 'Morsø' 'Thisted' 'Brønderslev'
 'Frederikshavn' 'Vesthimmerlands' 'Rebild' 'Mariagerfjord' 'Jammerbugt'
 'Aalborg' 'Hjørring']
94

Birth_rate to numeric

In [116]:
merged_data['BIRTH_RATE_F'] = pd.to_numeric(merged_data['BIRTH_RATE'])
merged_data['BIRTH_RATE_F']

133     1547.0
134     1692.6
135     2109.5
136     2227.0
137     1847.4
138     2015.5
139     1956.2
140     2023.0
141     1841.5
142     1607.2
143     1696.2
144     1841.2
145     2104.1
146     1803.6
147     2096.0
148     1896.6
149     2139.7
150     2148.8
151     2486.3
152     2194.9
153     1976.7
154     1970.9
155     1915.8
156     2124.8
157     2246.1
158     2170.5
159     2148.8
160     2273.7
161     2105.2
163     1971.3
         ...
1362    2018.1
1363    1992.3
1364    2325.2
1365    1993.1
1366    1797.3
1367    1844.4
1368    1818.2
1369    2055.3
1370    2211.6
1371    2033.1
1372    1929.5
1373    1971.8
1374    1828.4
1375    1751.4
1376    2185.9
1377    1842.5
1378    1650.9
1379    1689.4
1380    1913.2
1381    1998.8
1382    1989.0
1383    1746.3
1384    1677.6
1385    2053.0
1386    2126.1
1387    1923.3
1388    1693.2
1389    1833.5
1390    1730.4
1391    1837.7
Name: BIRTH_RATE_F, Length: 1034, dtype: float64

# Analysis

In [117]:
## INDSÆT KORT HER

In [118]:
# Laver ny variable for birth_rate index
merged_data1 = merged_data.copy()
merged_data1 = merged_data1.set_index("YEAR")

merged_data1['FERTILITY INDEX'] = merged_data1.groupby('AREA')['BIRTH_RATE_F'].transform(lambda x: x/x[2007])
merged_data1.head()

,AREA,AGE,BIRTH_RATE,UNEMPLOYMENT_RATE,BIRTH_RATE_F,FERTILITY INDEX
YEAR,,,,,,
2007,Copenhagen,Total fertility rate,1547.0,5.8,1547.0,1.0
2007,Frederiksberg,Total fertility rate,1692.6,4.0,1692.6,1.0
2007,Dragør,Total fertility rate,2109.5,2.3,2109.5,1.0
2007,Tårnby,Total fertility rate,2227.0,3.5,2227.0,1.0
2007,Ballerup,Total fertility rate,1847.4,2.5,1847.4,1.0

In [119]:
# Laver ny variable for unemployment index
merged_data1['UNEMPLOYMENT INDEX'] = merged_data1.groupby('AREA')['UNEMPLOYMENT_RATE'].transform(lambda x: x/x[2007])
merged_data1.head()

,AREA,AGE,BIRTH_RATE,UNEMPLOYMENT_RATE,BIRTH_RATE_F,FERTILITY INDEX,UNEMPLOYMENT INDEX
YEAR,,,,,,,
2007,Copenhagen,Total fertility rate,1547.0,5.8,1547.0,1.0,1.0
2007,Frederiksberg,Total fertility rate,1692.6,4.0,1692.6,1.0,1.0
2007,Dragør,Total fertility rate,2109.5,2.3,2109.5,1.0,1.0
2007,Tårnby,Total fertility rate,2227.0,3.5,2227.0,1.0,1.0
2007,Ballerup,Total fertility rate,1847.4,2.5,1847.4,1.0,1.0

In [128]:
#UNEMPLOYMENT RATE

def interactive_figure(fokus):
    # Choose nationality for the pie chart 
    merged_data2 = merged_data1[merged_data1.AREA.isin([fokus])]


    # Sum the observations grouped by the regions and plot the chart
    merged_data2.groupby('AREA')['UNEMPLOYMENT INDEX', 'FERTILITY INDEX'].plot(legend=True);
    plt.title('Development in fertilityrate and unemployment rate 2007-2017')
    #plt.figure(figsize=(20,10))
    plt.show()

liste=merged_data1.AREA.unique()

widgets.interact(interactive_figure,
    fokus=widgets.Dropdown(description="$Municipal$", options=liste, value='Slagelse'),);

interactive(children=(Dropdown(description='$Municipal$', index=39, options=('Copenhagen', 'Frederiksberg', 'D…

In [ ]:
#CHANGE COLORS OF THE PLOTS

In [ ]:
#DETTE KODE SKAL SLETTES!
#FOD407_en_group = FOD407_en.groupby(['AREA','YEAR'])['BIRTH_RATE'].sum().reset_index()
#FOD407_en_group.head()