# Dataproject

In [2]:
### LAV TOTALER AF ALDER FOR BÅDE FOD407 OG AULP01



# importing crucial packages

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

In [33]:
## What does DST have to offer?

dst.get_subjects()

    active                                       desc  hasSubjects  id
0     True                   Population and elections         True  02
1     True                          Living conditions         True  05
2     True                    Education and knowledge         True  03
3     True                Culture and National Church         True  18
4     True                  Labour, income and wealth         True  04
5     True                     Prices and consumption         True  06
6     True  National accounts and government finances         True  14
7     True                    Money and credit market         True  16
8     True                           External economy         True  13
9     True                 Business sector in general         True  07
10    True                           Business sectors         True  11
11    True          Geography, environment and energy         True  01
12    True                                      Other         True  19

We would like to look at "population and elections"

In [34]:
dst.get_tables(subjects=['02'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2018,Population 1. January,number,2018-05-18 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
1980,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
1981,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
1982,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
1983,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
1984,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
1985,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
1986,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
1987,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
1988,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
1989,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
1990,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
1991,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
1992,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
1993,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
1994,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
1995,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
1996,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
1997,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
1998,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
1999,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2000,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2001,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2002,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2003,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2004,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2005,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2006,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2007,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2008,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2009,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

We would like to look at the table with id 'FODIE', lets look at the variables

In [41]:
FOD407_vars = dst.get_variables(table_id='FOD407')
FOD407_vars
FOD407_vars['values'][1][:] ## age= TOT1 to include all ages
FOD407_vars['values'][1][:] ##Women = 2

[{'id': 'TOT1', 'text': 'Total fertility rate'},
 {'id': '15-19', 'text': '15-19 years'},
 {'id': '20-24', 'text': '20-24 years'},
 {'id': '25-29', 'text': '25-29 years'},
 {'id': '30-34', 'text': '30-34 years'},
 {'id': '35-39', 'text': '35-39 years'},
 {'id': '40-44', 'text': '40-44 years'},
 {'id': '45-49', 'text': '45-49 years'}]

In [64]:
FOD407 = dst.get_data(table_id = 'FOD407', variables={'OMRÅDE':['*'], 'TID':['*'], 'ALDER':['*'] })
#testtest=FOD407.sort(['INDHOLD'])
FOD407.sort_values(by=['OMRÅDE'], ascending=False)

         OMRÅDE   TID                 ALDER INDHOLD
9198        Ærø  2015           30-34 years      ..
11636       Ærø  2018  Total fertility rate      ..
2973        Ærø  2009           20-24 years      ..
5409        Ærø  2011           45-49 years      ..
4017        Ærø  2010           25-29 years      ..
11632       Ærø  2018           30-34 years      ..
11633       Ærø  2018           35-39 years      ..
11634       Ærø  2018           40-44 years      ..
11635       Ærø  2018           45-49 years      ..
537         Ærø  2006           35-39 years      ..
6569        Ærø  2013           15-19 years      ..
2045        Ærø  2008           20-24 years      ..
4597        Ærø  2010  Total fertility rate      ..
7149        Ærø  2013           40-44 years      ..
3553        Ærø  2009           45-49 years      ..
8734        Ærø  2015  Total fertility rate      ..
5293        Ærø  2011           40-44 years      ..
2741        Ærø  2008  Total fertility rate      ..
11631       Ærø  2018           25-29 years      ..
11630       Ærø  2018           20-24 years      ..
7574        Ærø  2014           40-44 years      ..
11629       Ærø  2018           15-19 years      ..
9314        Ærø  2016           35-39 years      ..
7265        Ærø  2013           45-49 years      ..
8154        Ærø  2014           25-29 years      ..
4133        Ærø  2010           30-34 years      ..
5525        Ærø  2011  Total fertility rate      ..
1581        Ærø  2007           40-44 years      ..
8618        Ærø  2015           45-49 years      ..
6308        Ærø  2012           45-49 years      ..
...         ...   ...                   ...     ...
1242   Aabenraa  2007           25-29 years   164.4
10360  Aabenraa  2017           40-44 years    11.6
9323   Aabenraa  2016           35-39 years    51.8
10359  Aabenraa  2017           35-39 years    57.7
10358  Aabenraa  2017           30-34 years   140.8
4374   Aabenraa  2010           40-44 years     9.3
6317   Aabenraa  2012           45-49 years     0.0
10357  Aabenraa  2017           25-29 years   148.9
2170   Aabenraa  2008           25-29 years   149.0
10356  Aabenraa  2017           20-24 years    48.7
10355  Aabenraa  2017           15-19 years     3.5
2750   Aabenraa  2008  Total fertility rate  2075.0
6810   Aabenraa  2013           25-29 years   149.9
4258   Aabenraa  2010           35-39 years    49.1
8511   Aabenraa  2015           40-44 years     9.2
1358   Aabenraa  2007           30-34 years   120.3
9439   Aabenraa  2016           40-44 years    10.4
2866   Aabenraa  2009           15-19 years     4.3
2054   Aabenraa  2008           20-24 years    60.2
5621   Aabenraa  2012           15-19 years     2.1
8163   Aabenraa  2014           25-29 years   141.2
4142   Aabenraa  2010           30-34 years   139.8
11197  Aabenraa  2018  Total fertility rate  1961.0
11196  Aabenraa  2018           45-49 years     0.5
7390   Aabenraa  2013  Total fertility rate  1884.5
11195  Aabenraa  2018           40-44 years    11.9
198    Aabenraa  2006           20-24 years    69.2
6201   Aabenraa  2012           40-44 years    11.8
430    Aabenraa  2006           30-34 years   143.0
2402   Aabenraa  2008           35-39 years    50.8

[12062 rows x 4 columns]

In [60]:
FOD407_en=FOD407.rename(columns={"OMRÅDE": "AREA", "TID": "YEAR", "INDHOLD": "BIRTHS", "ALDER": "AGE"})
FOD407_en.head()

                 AREA  YEAR          AGE BIRTHS
0         All Denmark  2006  15-19 years    4.3
1  Region Hovedstaden  2006  15-19 years    4.0
2     Region Sjælland  2006  15-19 years    5.4
3   Region Syddanmark  2006  15-19 years    4.7
4  Region Midtjylland  2006  15-19 years    3.2

In [54]:
FOD407_en_group = FOD407_en.groupby(['AREA','YEAR'])['BIRTHS'].sum().reset_index()
FOD407_en_group.head()

       AREA  YEAR                             BIRTHS
0  Aabenraa  2006  4.969.2159.1143.045.17.80.02146.1
1  Aabenraa  2007  7.159.5164.4120.347.16.00.02021.9
2  Aabenraa  2008  5.460.2149.0141.550.87.60.42075.0
3  Aabenraa  2009  4.365.9167.5143.047.97.00.02177.6
4  Aabenraa  2010  2.352.9154.0139.849.19.30.02037.3

In [57]:
FOD407_en_alder=FOD407_en.loc[(FOD407_en['AGE'] >= '15') & (FOD407_en['AGE'] <= '49')]
FOD407_en_alder.head()


##TROR IKKE AT DETTE STYKKE KODE ER NØDVENDIGT

                 AREA  YEAR   AGE_FOD407 BIRTHS
0         All Denmark  2006  15-19 years    4.3
1  Region Hovedstaden  2006  15-19 years    4.0
2     Region Sjælland  2006  15-19 years    5.4
3   Region Syddanmark  2006  15-19 years    4.7
4  Region Midtjylland  2006  15-19 years    3.2

In [39]:
FOD407_alder_group = FOD407_en_alder.groupby(['AREA','YEAR'])['BIRTHS'].sum().reset_index()
FOD407_alder_group.head()

       AREA  YEAR  BIRTHS
0  Aabenraa  2007     596
1  Aabenraa  2008     611
2  Aabenraa  2009     622
3  Aabenraa  2010     571
4  Aabenraa  2011     540

We know look at "Labour, income and wealth"

In [4]:
dst.get_tables(subjects=['04'])

,active,firstPeriod,id,latestPeriod,text,unit,updated,variables
0,True,2008Q1,FOLK1A,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, marital status, time]"
1,True,2008Q1,FOLK1B,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
2,True,2008Q1,FOLK1C,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, country of origin..."
3,True,2008Q1,FOLK1D,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, citizenship, time]"
4,True,2008Q1,FOLK1E,2019Q1,Population at the first day of the quarter,number,2019-02-11 08:00:00,"[region, sex, age, ancestry, time]"
5,True,1980,FOLK2,2019,Population 1. January,number,2019-02-11 08:00:00,"[age, sex, ancestry, citizenship, country of o..."
6,True,2008,FOLK3,2019,Population 1. January,number,2019-02-11 08:00:00,"[day of birth, birth month, year of birth, time]"
7,True,1769,FT,2019,Population figures from the censuses,number,2019-02-11 08:00:00,"[national part, time]"
8,True,2008,BEF5F,2019,People born in Faroe Islands and living in Den...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
9,True,2008,BEF5G,2019,People born in Greenland and living in Denmark...,number,2019-02-11 08:00:00,"[sex, age, parents place of birth, time]"
10,True,1990,BEF5,2019,Population 1. January,number,2019-02-11 08:00:00,"[sex, age, country of birth, time]"
11,True,2017,BY3,2018,Population 1. January,-,2019-01-24 08:00:00,"[urban and rural areas, population, area and p..."
12,True,2010,BY1,2018,Population 1. January,number,2018-04-18 08:00:00,"[urban and rural areas, age, sex, time]"
13,True,2010,BY2,2018,Population 1. January,number,2018-04-18 08:00:00,"[municipality, city size, age, sex, time]"
14,True,1901,BEF4,2018,Population 1. January,number,2018-05-18 08:00:00,"[islands, time]"
15,True,1901,HISB3,2019,Summary vital statistics,number,2019-02-14 08:00:00,"[type of movement, time]"
16,True,2007Q2,BEV22,2018Q4,Summary vital statistics (provisional data),number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
17,True,2006,BEV107,2018,Summary vital statistics,number,2019-02-11 08:00:00,"[region, type of movement, sex, time]"
18,True,2005,GALDER,2019,Average age,average,2019-02-11 08:00:00,"[municipality, sex, time]"
19,True,2007,KMGALDER,2019,Average age,average,2019-02-28 08:00:00,"[parish, sex, time]"
20,True,2007Q1,KM1,2019Q1,Population at the first day of the quarter,number,2019-02-19 08:00:00,"[parish, member of the National Church, time]"
21,True,2007,KM5,2019,Population 1. January,number,2019-02-19 08:00:00,"[parish, sex, age, member of the National Chur..."
22,True,2010,SOGN1,2019,Population 1. January,number,2019-03-22 08:00:00,"[parish, sex, age, time]"
23,True,2015,KMSTA003,2018,Summary vital statistics,number,2019-02-19 08:00:00,"[parish, movements, time]"
24,True,2018,FRDK118,2060,Population projections 2018 for the country,number,2018-05-08 08:00:00,"[ancestry, sex, age, time]"
25,True,2018,FRLD118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
26,True,2018,FRKM118,2045,Population projections 2018,number,2018-05-08 08:00:00,"[region, age, sex, time]"
27,True,2018,FRDK218,2060,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[ancestry, type of movement, time]"
28,True,2018,FRLD218,2045,Key figures 2018: Summary components of change...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
29,True,2018,FRKM218,2045,Nøgletal 2018: Fremskrivning af befolkningens ...,number,2018-05-08 08:00:00,"[region, type of movement, time]"
...,...,...,...,...,...,...,...,...
1980,True,2011,AFF1MU3,2015,Waste generation by industries caused by final...,ton,2018-11-07 08:00:00,"[industry, waste category, cause, price unit, ..."
1981,True,2011,AFF2MU1,2015,Direct and indirect use of waste,-,2018-11-07 08:00:00,"[industry, kind of treatment, multiplier, pric..."
1982,True,2011,AFF2MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, kind of treatment, multiplier, ..."
1983,True,2011,AFF2MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, kind of treatment, cause, price uni..."
1984,True,2011,AFF3MU1,2015,Direct and indirect use of energy,-,2018-11-07 08:00:00,"[industry, hazardousness, multiplier, price un..."
1985,True,2011,AFF3MU2,2015,Direct and indirect generation of waste by fin...,-,2018-11-07 08:00:00,"[final demand, hazardousness, multiplier, pric..."
1986,True,2011,AFF3MU3,2015,Generation of waste by industries caused by fi...,ton,2018-11-07 08:00:00,"[industry, hazardousness, cause, price unit, t..."
1987,True,2012,GRON1,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[environmental purpose, industry, unit, time]"
1988,True,2012,GRON2,2017,Environmental goods and services,-,2018-11-05 08:00:00,"[industry (DB07), environmental purpose, unit,..."
1989,True,1995,MREG22,2017,Environmental protection,"DKK 1,000",2018-12-12 08:00:00,"[environmental purpose, expenditure/revenue, s..."
1990,True,2014,MBU,2017,Environmental expenditures in manufacturing in...,m DKK,2018-11-28 08:00:00,"[industry (DB07), environmental purpose, time]"
1991,True,1995,MREG21,2017,Environmentaly related taxes,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
1992,True,1995,MRS1,2017,Environmental taxes,m DKK,2019-01-17 08:00:00,"[industry, environmental category, time]"
1993,True,1995,MMS1,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental category, time]"
1994,True,1995,MMS2,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[environmental purpose, time]"
1995,True,1995,MMS3,2017,Environmental transfers,m DKK,2018-06-27 08:00:00,"[industry, environmental category, time]"
1996,True,2005,RP01,2017,Resource productivity,-,2018-12-03 08:00:00,"[indicator, industry, product, time]"
1997,True,2005,RP02,2017,Gross value added per intermediate consumption,-,2018-12-03 08:00:00,"[industry, level of processing, time]"
1998,True,2001,RP03,2016,Manufacturers purchase of goods (per cent of t...,per cent,2018-12-03 08:00:00,"[industry (DB07), level of processing, time]"
1999,True,2005,RP05,2017,Costs,m DKK,2018-12-03 08:00:00,"[cost element, industry, price unit, time]"
2000,True,2005,RP06,2017,Energy and waste intensities,-,2018-12-03 08:00:00,"[indicator, industry, time]"
2001,True,2009,VOGRG,2016,Value of oil and gas reserve,-,2017-12-06 08:00:00,"[balance items, time]"
2002,True,1990,OLIERG,2016,Physical stocks for oil reserve,m m3,2017-12-06 08:00:00,"[balance items, time]"
2003,True,1990,GASRG,2016,Physical stocks for gas reserve,bn. Nm3,2017-12-06 08:00:00,"[balance items, time]"
2004,True,2010,FISK11,2015,Fish and shellfish in aquaculture (Physical st...,ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2005,True,2010,FISK33,2015,Natural aquatic resources (Physical stock),ton,2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2006,True,2010,FISK22,2015,Fish and shellfish in aquaculture (Value),"DKK 1,000",2017-10-25 09:00:00,"[balance items, fish- and shellfish species, t..."
2007,True,2005,SKOVRG01,2016,Growing stock (physical account),"1,000 m3",2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2008,True,2005,SKOVRG02,2016,Growing stock (monetary account),DKK mio.,2017-11-28 08:00:00,"[balance items, species of wood, county counci..."
2009,True,2005,SKOVRG03,2016,Forest area (Kyoto) (physical account),km2,2017-11-28 08:00:00,"[balance items, county council district, time]"

In [5]:
AULP01_vars = dst.get_variables(table_id='AULP01')
AULP01_vars

,elimination,id,map,text,time,values
0,True,OMRÅDE,denmark_municipality_07,region,False,"[{'id': '000', 'text': 'All Denmark'}, {'id': ..."
1,True,ALDER,NaN,age,False,"[{'id': 'TOT', 'text': 'Age, total'}, {'id': '..."
2,True,KØN,NaN,sex,False,"[{'id': 'TOT', 'text': 'Total'}, {'id': 'M', '..."
3,False,Tid,NaN,time,True,"[{'id': '2007', 'text': '2007'}, {'id': '2008'..."

In [12]:
AULP01 = dst.get_data(table_id = 'AULP01', variables={'OMRÅDE':['*'], 'ALDER':['*'], 'KØN':['*'], 'TID':['*'] })
AULP01.head()

In [59]:
AULP01_en = AULP01.rename(columns={"OMRÅDE": "AREA", "ALDER": "AGE", "KØN": "GENDER",\
                                   "TID": "YEAR", "INDHOLD": "UNEMPLOYMENT RATE"})
AULP01_en.head()

       AREA          AGE GENDER  YEAR  UNEMPLOYMENT RATE
0  Syddjurs  16-24 years  Total  2012                4.1
1  Syddjurs  25-29 years  Total  2012                9.7
2  Syddjurs  30-34 years  Total  2012                7.4
3  Syddjurs  35-39 years  Total  2012                5.5
4  Syddjurs  40-44 years  Total  2012                4.9

In [49]:
AULP01R_en_group = AULP01_en.groupby(['AREA','YEAR'])['UNEMPLOYMENT RATE'].sum().reset_index()
AULP01R_en_group.head()

       AREA  YEAR  UNEMPLOYMENT RATE
0  Aabenraa  2007              120.2
1  Aabenraa  2008               87.1
2  Aabenraa  2009              158.0
3  Aabenraa  2010              207.1
4  Aabenraa  2011              199.9

We now merge the two different datasets.

In [67]:
merged_data = pd.merge(FOD407_en, AULP01_en, on=['YEAR', 'AREA'], how='left')
merged_data.head(100)

,AREA,YEAR,AGE_x,BIRTHS,AGE_y,GENDER,UNEMPLOYMENT RATE
0,All Denmark,2006,15-19 years,4.3,NaN,NaN,NaN
1,Region Hovedstaden,2006,15-19 years,4.0,NaN,NaN,NaN
2,Region Sjælland,2006,15-19 years,5.4,NaN,NaN,NaN
3,Region Syddanmark,2006,15-19 years,4.7,NaN,NaN,NaN
4,Region Midtjylland,2006,15-19 years,3.2,NaN,NaN,NaN
5,Region Nordjylland,2006,15-19 years,5.5,NaN,NaN,NaN
6,Province Byen København,2006,15-19 years,4.4,NaN,NaN,NaN
7,Province Københavns omegn,2006,15-19 years,4.1,NaN,NaN,NaN
8,Province Nordsjælland,2006,15-19 years,3.4,NaN,NaN,NaN
9,Province Bornholm,2006,15-19 years,2.4,NaN,NaN,NaN
10,Province Østsjælland,2006,15-19 years,3.0,NaN,NaN,NaN
11,Province Vest- og Sydsjælland,2006,15-19 years,6.3,NaN,NaN,NaN
12,Province Fyn,2006,15-19 years,4.8,NaN,NaN,NaN
13,Province Sydjylland,2006,15-19 years,4.6,NaN,NaN,NaN
14,Province Østjylland,2006,15-19 years,3.6,NaN,NaN,NaN
15,Province Vestjylland,2006,15-19 years,2.4,NaN,NaN,NaN
16,Province Nordjylland,2006,15-19 years,5.5,NaN,NaN,NaN
17,Copenhagen,2006,15-19 years,5.0,NaN,NaN,NaN
18,Frederiksberg,2006,15-19 years,3.1,NaN,NaN,NaN
19,Dragør,2006,15-19 years,0.0,NaN,NaN,NaN
20,Tårnby,2006,15-19 years,3.0,NaN,NaN,NaN
21,Ballerup,2006,15-19 years,4.5,NaN,NaN,NaN
22,Brøndby,2006,15-19 years,4.2,NaN,NaN,NaN
23,Gentofte,2006,15-19 years,0.5,NaN,NaN,NaN
24,Gladsaxe,2006,15-19 years,4.6,NaN,NaN,NaN
25,Glostrup,2006,15-19 years,7.3,NaN,NaN,NaN
26,Herlev,2006,15-19 years,4.0,NaN,NaN,NaN
27,Albertslund,2006,15-19 years,5.9,NaN,NaN,NaN
28,Hvidovre,2006,15-19 years,2.8,NaN,NaN,NaN
29,Høje-Taastrup,2006,15-19 years,7.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,Svendborg,2006,15-19 years,2.1,NaN,NaN,NaN
71,Nordfyns,2006,15-19 years,5.6,NaN,NaN,NaN
72,Langeland,2006,15-19 years,11.7,NaN,NaN,NaN
73,Ærø,2006,15-19 years,..,NaN,NaN,NaN
74,Haderslev,2006,15-19 years,8.2,NaN,NaN,NaN
75,Billund,2006,15-19 years,5.0,NaN,NaN,NaN
76,Sønderborg,2006,15-19 years,7.1,NaN,NaN,NaN
77,Tønder,2006,15-19 years,7.3,NaN,NaN,NaN
78,Esbjerg,2006,15-19 years,2.5,NaN,NaN,NaN
79,Fanø,2006,15-19 years,..,NaN,NaN,NaN
80,Varde,2006,15-19 years,1.9,NaN,NaN,NaN
81,Vejen,2006,15-19 years,5.0,NaN,NaN,NaN
82,Aabenraa,2006,15-19 years,4.9,NaN,NaN,NaN
83,Fredericia,2006,15-19 years,5.0,NaN,NaN,NaN
84,Kolding,2006,15-19 years,3.7,NaN,NaN,NaN
85,Vejle,2006,15-19 years,3.6,NaN,NaN,NaN
86,Horsens,2006,15-19 years,5.8,NaN,NaN,NaN
87,Syddjurs,2006,15-19 years,0.0,NaN,NaN,NaN
88,Norddjurs,2006,15-19 years,5.1,NaN,NaN,NaN
89,Favrskov,2006,15-19 years,0.8,NaN,NaN,NaN
90,Odder,2006,15-19 years,1.6,NaN,NaN,NaN
91,Randers,2006,15-19 years,3.5,NaN,NaN,NaN
92,Silkeborg,2006,15-19 years,1.7,NaN,NaN,NaN
93,Samsø,2006,15-19 years,..,NaN,NaN,NaN
94,Skanderborg,2006,15-19 years,2.6,NaN,NaN,NaN
95,Aarhus,2006,15-19 years,3.9,NaN,NaN,NaN
96,Hedensted,2006,15-19 years,8.6,NaN,NaN,NaN
97,Herning,2006,15-19 years,3.3,NaN,NaN,NaN
98,Holstebro,2006,15-19 years,2.6,NaN,NaN,NaN
99,Lemvig,2006,15-19 years,0.0,NaN,NaN,NaN